<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Paypal node app</title>
</head>
<body>
<h1>Dope cap</h1>
<h2> buy it for $25</h2>

<form action="/pay" method="post">
    <input type="submit" value="buy">

</form>
</body>
</html>